USE [master]
GO
/****** Object:  Database [bd_riesgo_crediticio]    Script Date: 28/05/2026 23:08:20 ******/
CREATE DATABASE [bd_riesgo_crediticio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bd_riesgo_crediticio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\bd_riesgo_crediticio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bd_riesgo_crediticio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\bd_riesgo_crediticio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd_riesgo_crediticio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd_riesgo_crediticio]
GO
/****** Object:  Table [dbo].[alertas_mora]    Script Date: 28/05/2026 23:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alertas_mora](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_credito] [int] NOT NULL,
	[id_cuota] [int] NULL,
	[tipo_alerta] [varchar](30) NOT NULL,
	[fecha_alerta] [date] NOT NULL,
	[dias_atraso] [int] NOT NULL,
	[descripcion] [varchar](500) NULL,
	[nivel_severidad] [varchar](10) NOT NULL,
	[estado] [varchar](15) NOT NULL,
	[fecha_cierre] [date] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 28/05/2026 23:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_cliente] [varchar](1) NOT NULL,
	[estado_cliente] [varchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[creditos]    Script Date: 28/05/2026 23:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[creditos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_solicitud] [int] NOT NULL,
	[id_cuenta_desembolso] [int] NULL,
	[nro_credito] [varchar](20) NOT NULL,
	[monto_aprobado] [decimal](12, 2) NOT NULL,
	[moneda] [varchar](5) NOT NULL,
	[plazo_meses] [int] NOT NULL,
	[tea] [decimal](6, 4) NOT NULL,
	[tcea] [decimal](6, 4) NOT NULL,
	[valor_cuota] [decimal](12, 2) NOT NULL,
	[desgravamen] [decimal](12, 2) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_vencimiento] [date] NOT NULL,
	[fecha_aprobacion] [date] NOT NULL,
	[fecha_desembolso] [datetime] NOT NULL,
	[nro_cuotas] [int] NOT NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cronograma_cuotas]    Script Date: 28/05/2026 23:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cronograma_cuotas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_credito] [int] NOT NULL,
	[num_cuota] [int] NOT NULL,
	[fecha_vencimiento] [date] NOT NULL,
	[capital] [decimal](12, 2) NOT NULL,
	[intereses] [decimal](12, 2) NOT NULL,
	[seguros] [decimal](12, 2) NOT NULL,
	[total_cuota] [decimal](12, 2) NOT NULL,
	[saldo_pendiente] [decimal](12, 2) NOT NULL,
	[tasa_mora] [decimal](6, 4) NOT NULL,
	[dias_atraso] [int] NOT NULL,
	[estado] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuentas_bancarias]    Script Date: 28/05/2026 23:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuentas_bancarias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_cuenta_id] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[nro_cuenta] [varchar](20) NOT NULL,
	[cci] [varchar](20) NOT NULL,
	[moneda] [varchar](5) NOT NULL,
	[saldo_actual] [decimal](14, 2) NOT NULL,
	[fecha_apertura] [date] NOT NULL,
	[fecha_vencimiento] [date] NULL,
	[estado] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_cuotas_pagos]    Script Date: 28/05/2026 23:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_cuotas_pagos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_cuota] [int] NOT NULL,
	[id_pago] [int] NOT NULL,
	[monto_pagado] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evaluaciones_riesgo]    Script Date: 28/05/2026 23:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluaciones_riesgo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_solicitud] [int] NOT NULL,
	[ingresos_verificados] [decimal](12, 2) NOT NULL,
	[deuda_activa] [decimal](12, 2) NOT NULL,
	[nivel_endeudamiento] [decimal](5, 2) NOT NULL,
	[historial_crediticio] [varchar](20) NOT NULL,
	[creditos_activos] [int] NOT NULL,
	[score_crediticio] [smallint] NOT NULL,
	[nivel_riesgo] [varchar](10) NOT NULL,
	[fecha_evaluacion] [date] NOT NULL,
	[observaciones] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medios_pago]    Script Date: 28/05/2026 23:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medios_pago](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagos]    Script Date: 28/05/2026 23:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_medio_pago] [int] NOT NULL,
	[nro_operacion] [varchar](20) NOT NULL,
	[fecha_pago] [datetime] NOT NULL,
	[monto] [decimal](12, 2) NOT NULL,
	[moneda] [varchar](5) NOT NULL,
	[observaciones] [varchar](200) NULL,
	[estado] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personas_juridicas]    Script Date: 28/05/2026 23:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personas_juridicas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[ruc] [char](11) NOT NULL,
	[razon_social] [varchar](255) NOT NULL,
	[nombre_comercial] [varchar](255) NULL,
	[representante_legal] [varchar](200) NOT NULL,
	[tipo_empresa] [varchar](10) NOT NULL,
	[sector_economico] [varchar](100) NULL,
	[direccion_fiscal] [varchar](255) NOT NULL,
	[ubigeo_fiscal] [char](6) NULL,
	[telefono] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[fecha_constitucion] [date] NOT NULL,
	[inicio_actividades] [date] NOT NULL,
	[estado_empresa] [varchar](20) NOT NULL,
	[ingresos_anuales] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personas_naturales]    Script Date: 28/05/2026 23:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personas_naturales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[dni] [varchar](8) NOT NULL,
	[nombres] [varchar](100) NOT NULL,
	[apellido_paterno] [varchar](100) NOT NULL,
	[apellido_materno] [varchar](100) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[genero] [varchar](1) NOT NULL,
	[estado_civil] [varchar](10) NOT NULL,
	[situacion_laboral] [varchar](20) NOT NULL,
	[ocupacion] [varchar](100) NULL,
	[ingresos_mensuales] [decimal](12, 2) NOT NULL,
	[telefono] [varchar](15) NULL,
	[email] [varchar](100) NULL,
	[direccion] [varchar](255) NULL,
	[ubigeo] [char](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos_crediticios]    Script Date: 28/05/2026 23:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos_crediticios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](500) NULL,
	[tipo] [varchar](20) NOT NULL,
	[tasa_interes_min] [decimal](6, 4) NOT NULL,
	[tasa_interes_max] [decimal](6, 4) NOT NULL,
	[monto_min] [decimal](12, 2) NOT NULL,
	[monto_max] [decimal](12, 2) NOT NULL,
	[plazo_minimo_meses] [int] NOT NULL,
	[plazo_maximo_meses] [int] NOT NULL,
	[moneda] [varchar](5) NOT NULL,
	[requiere_garantia] [bit] NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[solicitudes]    Script Date: 28/05/2026 23:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[solicitudes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[nro_solicitud] [varchar](20) NOT NULL,
	[fecha_solicitud] [date] NOT NULL,
	[monto_solicitado] [decimal](12, 2) NOT NULL,
	[moneda_solicitada] [varchar](5) NOT NULL,
	[plazo_solicitado_meses] [int] NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_resolucion] [date] NULL,
	[motivo_rechazo] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_cuenta]    Script Date: 28/05/2026 23:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_cuenta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[alertas_mora] ON 

INSERT [dbo].[alertas_mora] ([id], [id_credito], [id_cuota], [tipo_alerta], [fecha_alerta], [dias_atraso], [descripcion], [nivel_severidad], [estado], [fecha_cierre], [created_at], [updated_at]) VALUES (1, 1, 241, N'cuota_vencida', CAST(N'2026-05-13' AS Date), 17, N'Alerta generada por cuota 7 del credito CRE-2024-0015 con 17 dias de atraso.', N'baja', N'gestionada', CAST(N'2026-05-17' AS Date), CAST(N'2026-05-28T22:59:43.627' AS DateTime), CAST(N'2026-05-28T22:59:43.627' AS DateTime))
INSERT [dbo].[alertas_mora] ([id], [id_credito], [id_cuota], [tipo_alerta], [fecha_alerta], [dias_atraso], [descripcion], [nivel_severidad], [estado], [fecha_cierre], [created_at], [updated_at]) VALUES (2, 6, 246, N'cuota_vencida', CAST(N'2026-05-10' AS Date), 20, N'Alerta generada por cuota 7 del credito CRE-2024-0014 con 20 dias de atraso.', N'baja', N'gestionada', CAST(N'2026-05-14' AS Date), CAST(N'2026-05-28T22:59:43.627' AS DateTime), CAST(N'2026-05-28T22:59:43.627' AS DateTime))
INSERT [dbo].[alertas_mora] ([id], [id_credito], [id_cuota], [tipo_alerta], [fecha_alerta], [dias_atraso], [descripcion], [nivel_severidad], [estado], [fecha_cierre], [created_at], [updated_at]) VALUES (3, 10, 250, N'cuota_vencida', CAST(N'2026-05-25' AS Date), 5, N'Alerta generada por cuota 7 del credito CRE-2024-0018 con 5 dias de atraso.', N'baja', N'gestionada', CAST(N'2026-05-29' AS Date), CAST(N'2026-05-28T22:59:43.627' AS DateTime), CAST(N'2026-05-28T22:59:43.627' AS DateTime))
SET IDENTITY_INSERT [dbo].[alertas_mora] OFF
GO
SET IDENTITY_INSERT [dbo].[clientes] ON 

INSERT [dbo].[clientes] ([id], [tipo_cliente], [estado_cliente], [created_at]) VALUES (1, N'N', N'activo', CAST(N'2023-01-10T09:15:00.000' AS DateTime))
INSERT [dbo].[clientes] ([id], [tipo_cliente], [estado_cliente], [created_at]) VALUES (2, N'N', N'activo', CAST(N'2023-01-18T10:20:00.000' AS DateTime))
INSERT [dbo].[clientes] ([id], [tipo_cliente], [estado_cliente], [created_at]) VALUES (3, N'N', N'activo', CAST(N'2023-02-03T08:45:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[creditos] ON 

SET IDENTITY_INSERT [dbo].[creditos] OFF
GO
SET IDENTITY_INSERT [dbo].[cronograma_cuotas] ON 

INSERT [dbo].[cronograma_cuotas] ([id], [id_credito], [num_cuota], [fecha_vencimiento], [capital], [intereses], [seguros], [total_cuota], [saldo_pendiente], [tasa_mora], [dias_atraso], [estado]) VALUES (1, 1, 1, CAST(N'2025-11-12' AS Date), CAST(3645.83 AS Decimal(12, 2)), CAST(2070.83 AS Decimal(12, 2)), CAST(55.00 AS Decimal(12, 2)), CAST(5771.66 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(0.0000 AS Decimal(6, 4)), 0, N'pagada')
INSERT [dbo].[cronograma_cuotas] ([id], [id_credito], [num_cuota], [fecha_vencimiento], [capital], [intereses], [seguros], [total_cuota], [saldo_pendiente], [tasa_mora], [dias_atraso], [estado]) VALUES (2, 2, 1, CAST(N'2025-12-08' AS Date), CAST(2500.00 AS Decimal(12, 2)), CAST(1579.99 AS Decimal(12, 2)), CAST(45.00 AS Decimal(12, 2)), CAST(4124.99 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(0.0000 AS Decimal(6, 4)), 0, N'pagada')
INSERT [dbo].[cronograma_cuotas] ([id], [id_credito], [num_cuota], [fecha_vencimiento], [capital], [intereses], [seguros], [total_cuota], [saldo_pendiente], [tasa_mora], [dias_atraso], [estado]) VALUES (3, 3, 1, CAST(N'2026-03-12' AS Date), CAST(3500.00 AS Decimal(12, 2)), CAST(2642.49 AS Decimal(12, 2)), CAST(60.00 AS Decimal(12, 2)), CAST(6202.49 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(0.0000 AS Decimal(6, 4)), 0, N'pagada')
GO
SET IDENTITY_INSERT [dbo].[cronograma_cuotas] OFF
GO
SET IDENTITY_INSERT [dbo].[cuentas_bancarias] ON 

INSERT [dbo].[cuentas_bancarias] ([id], [tipo_cuenta_id], [id_cliente], [nro_cuenta], [cci], [moneda], [saldo_actual], [fecha_apertura], [fecha_vencimiento], [estado]) VALUES (1, 1, 1, N'100000000000000001', N'00200000000000000001', N'PEN', CAST(387.65 AS Decimal(14, 2)), CAST(N'2023-01-04' AS Date), NULL, N'activa')
INSERT [dbo].[cuentas_bancarias] ([id], [tipo_cuenta_id], [id_cliente], [nro_cuenta], [cci], [moneda], [saldo_actual], [fecha_apertura], [fecha_vencimiento], [estado]) VALUES (2, 1, 2, N'100000000000000002', N'00200000000000000002', N'PEN', CAST(525.30 AS Decimal(14, 2)), CAST(N'2023-01-07' AS Date), NULL, N'activa')
INSERT [dbo].[cuentas_bancarias] ([id], [tipo_cuenta_id], [id_cliente], [nro_cuenta], [cci], [moneda], [saldo_actual], [fecha_apertura], [fecha_vencimiento], [estado]) VALUES (3, 1, 3, N'100000000000000003', N'00200000000000000003', N'PEN', CAST(662.95 AS Decimal(14, 2)), CAST(N'2023-01-10' AS Date), NULL, N'activa')
GO
SET IDENTITY_INSERT [dbo].[cuentas_bancarias] OFF
GO
SET IDENTITY_INSERT [dbo].[detalle_cuotas_pagos] ON 

INSERT [dbo].[detalle_cuotas_pagos] ([id], [id_cuota], [id_pago], [monto_pagado]) VALUES (1, 1, 7, CAST(5771.66 AS Decimal(12, 2)))
INSERT [dbo].[detalle_cuotas_pagos] ([id], [id_cuota], [id_pago], [monto_pagado]) VALUES (2, 2, 8, CAST(4124.99 AS Decimal(12, 2)))
INSERT [dbo].[detalle_cuotas_pagos] ([id], [id_cuota], [id_pago], [monto_pagado]) VALUES (3, 3, 15, CAST(6202.49 AS Decimal(12, 2)))
GO
SET IDENTITY_INSERT [dbo].[detalle_cuotas_pagos] OFF
GO
SET IDENTITY_INSERT [dbo].[evaluaciones_riesgo] ON 

INSERT [dbo].[evaluaciones_riesgo] ([id], [id_solicitud], [ingresos_verificados], [deuda_activa], [nivel_endeudamiento], [historial_crediticio], [creditos_activos], [score_crediticio], [nivel_riesgo], [fecha_evaluacion], [observaciones]) VALUES (1, 1, CAST(498333.33 AS Decimal(12, 2)), CAST(210000.00 AS Decimal(12, 2)), CAST(42.14 AS Decimal(5, 2)), N'cpp', 5, 620, N'medio', CAST(N'2025-10-17' AS Date), N'Evaluacion pendiente por tasacion de garantia.')
INSERT [dbo].[evaluaciones_riesgo] ([id], [id_solicitud], [ingresos_verificados], [deuda_activa], [nivel_endeudamiento], [historial_crediticio], [creditos_activos], [score_crediticio], [nivel_riesgo], [fecha_evaluacion], [observaciones]) VALUES (2, 2, CAST(285000.00 AS Decimal(12, 2)), CAST(98000.00 AS Decimal(12, 2)), CAST(34.39 AS Decimal(5, 2)), N'cpp', 4, 675, N'medio', CAST(N'2025-10-08' AS Date), N'Cuenta con contratos vigentes y deuda de flota controlada.')
INSERT [dbo].[evaluaciones_riesgo] ([id], [id_solicitud], [ingresos_verificados], [deuda_activa], [nivel_endeudamiento], [historial_crediticio], [creditos_activos], [score_crediticio], [nivel_riesgo], [fecha_evaluacion], [observaciones]) VALUES (3, 3, CAST(98333.33 AS Decimal(12, 2)), CAST(24000.00 AS Decimal(12, 2)), CAST(24.41 AS Decimal(5, 2)), N'normal', 2, 735, N'medio', CAST(N'2025-11-04' AS Date), N'Compra de activo fijo sustentada con cotizacion.')
SET IDENTITY_INSERT [dbo].[evaluaciones_riesgo] OFF
GO
SET IDENTITY_INSERT [dbo].[medios_pago] ON 

INSERT [dbo].[medios_pago] ([id], [nombre], [descripcion]) VALUES (1, N'Transferencia bancaria', N'Pago realizado mediante transferencia desde una cuenta bancaria')
INSERT [dbo].[medios_pago] ([id], [nombre], [descripcion]) VALUES (2, N'Debito automatico', N'Cargo automatico programado desde la cuenta del cliente')
INSERT [dbo].[medios_pago] ([id], [nombre], [descripcion]) VALUES (3, N'Pago en ventanilla', N'Pago realizado presencialmente en agencia bancaria')
SET IDENTITY_INSERT [dbo].[medios_pago] OFF
GO
SET IDENTITY_INSERT [dbo].[pagos] ON 

INSERT [dbo].[pagos] ([id], [id_medio_pago], [nro_operacion], [fecha_pago], [monto], [moneda], [observaciones], [estado]) VALUES (1, 4, N'OP-000000000041', CAST(N'2025-12-10T11:00:00.000' AS DateTime), CAST(5728.52 AS Decimal(12, 2)), N'PEN', N'Pago completo de cuota 2 del credito CRE-2024-0015', N'procesado')
INSERT [dbo].[pagos] ([id], [id_medio_pago], [nro_operacion], [fecha_pago], [monto], [moneda], [observaciones], [estado]) VALUES (2, 4, N'OP-000000000161', CAST(N'2026-03-10T11:00:00.000' AS DateTime), CAST(5599.09 AS Decimal(12, 2)), N'PEN', N'Pago completo de cuota 5 del credito CRE-2024-0015', N'procesado')
INSERT [dbo].[pagos] ([id], [id_medio_pago], [nro_operacion], [fecha_pago], [monto], [moneda], [observaciones], [estado]) VALUES (3, 5, N'OP-000000000201', CAST(N'2026-04-12T11:00:00.000' AS DateTime), CAST(5555.95 AS Decimal(12, 2)), N'PEN', N'Pago completo de cuota 6 del credito CRE-2024-0015', N'procesado')
GO
SET IDENTITY_INSERT [dbo].[pagos] OFF
GO
SET IDENTITY_INSERT [dbo].[personas_juridicas] ON 

SET IDENTITY_INSERT [dbo].[personas_juridicas] OFF
GO
SET IDENTITY_INSERT [dbo].[personas_naturales] ON 

INSERT [dbo].[personas_naturales] ([id], [id_cliente], [dni], [nombres], [apellido_paterno], [apellido_materno], [fecha_nacimiento], [genero], [estado_civil], [situacion_laboral], [ocupacion], [ingresos_mensuales], [telefono], [email], [direccion], [ubigeo]) VALUES (1, 1, N'45871236', N'Ana Lucia', N'Torres', N'Vargas', CAST(N'1988-04-18' AS Date), N'F', N'C', N'empleado', N'Analista contable', CAST(6200.00 AS Decimal(12, 2)), N'987654321', N'ana.torres@example.com', N'Av. Javier Prado 2450, San Borja', N'150130')
INSERT [dbo].[personas_naturales] ([id], [id_cliente], [dni], [nombres], [apellido_paterno], [apellido_materno], [fecha_nacimiento], [genero], [estado_civil], [situacion_laboral], [ocupacion], [ingresos_mensuales], [telefono], [email], [direccion], [ubigeo]) VALUES (2, 2, N'40125874', N'Luis Alberto', N'Quispe', N'Huaman', CAST(N'1982-11-02' AS Date), N'M', N'C', N'independiente', N'Tecnico electricista', CAST(4800.00 AS Decimal(12, 2)), N'996320145', N'luis.quispe@example.com', N'Jr. Los Sauces 334, Ate', N'150103')
INSERT [dbo].[personas_naturales] ([id], [id_cliente], [dni], [nombres], [apellido_paterno], [apellido_materno], [fecha_nacimiento], [genero], [estado_civil], [situacion_laboral], [ocupacion], [ingresos_mensuales], [telefono], [email], [direccion], [ubigeo]) VALUES (3, 3, N'47223319', N'Maria Fernanda', N'Salazar', N'Rojas', CAST(N'1991-08-27' AS Date), N'F', N'S', N'empleado', N'Ejecutiva comercial', CAST(3900.00 AS Decimal(12, 2)), N'981112233', N'maria.salazar@example.com', N'Calle Los Laureles 120, Miraflores', N'150122')
SET IDENTITY_INSERT [dbo].[personas_naturales] OFF
GO
SET IDENTITY_INSERT [dbo].[productos_crediticios] ON 

SET IDENTITY_INSERT [dbo].[productos_crediticios] OFF
GO
SET IDENTITY_INSERT [dbo].[solicitudes] ON 

INSERT [dbo].[solicitudes] ([id], [id_cliente], [id_producto], [nro_solicitud], [fecha_solicitud], [monto_solicitado], [moneda_solicitada], [plazo_solicitado_meses], [estado], [fecha_resolucion], [motivo_rechazo]) VALUES (1, 25, 14, N'SOL-2024-0025', CAST(N'2025-10-15' AS Date), CAST(260000.00 AS Decimal(12, 2)), N'PEN', 60, N'en evaluacion', NULL, NULL)
INSERT [dbo].[solicitudes] ([id], [id_cliente], [id_producto], [nro_solicitud], [fecha_solicitud], [monto_solicitado], [moneda_solicitada], [plazo_solicitado_meses], [estado], [fecha_resolucion], [motivo_rechazo]) VALUES (2, 22, 14, N'SOL-2024-0022', CAST(N'2025-10-06' AS Date), CAST(180000.00 AS Decimal(12, 2)), N'PEN', 48, N'aprobada', CAST(N'2025-10-09' AS Date), NULL)
INSERT [dbo].[solicitudes] ([id], [id_cliente], [id_producto], [nro_solicitud], [fecha_solicitud], [monto_solicitado], [moneda_solicitada], [plazo_solicitado_meses], [estado], [fecha_resolucion], [motivo_rechazo]) VALUES (3, 31, 14, N'SOL-2024-0031', CAST(N'2025-11-02' AS Date), CAST(120000.00 AS Decimal(12, 2)), N'PEN', 48, N'aprobada', CAST(N'2025-11-05' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[solicitudes] OFF
GO
SET IDENTITY_INSERT [dbo].[tipos_cuenta] ON 

INSERT [dbo].[tipos_cuenta] ([id], [nombre], [descripcion]) VALUES (1, N'Ahorros', N'Cuenta de ahorro para personas naturales')
INSERT [dbo].[tipos_cuenta] ([id], [nombre], [descripcion]) VALUES (2, N'Corriente', N'Cuenta para operaciones frecuentes')
INSERT [dbo].[tipos_cuenta] ([id], [nombre], [descripcion]) VALUES (3, N'Sueldo', N'Cuenta para depósitos de planilla')
SET IDENTITY_INSERT [dbo].[tipos_cuenta] OFF
GO
/****** Object:  Index [UQ__creditos__5C0C31F23742351B]    Script Date: 28/05/2026 23:08:21 ******/
ALTER TABLE [dbo].[creditos] ADD UNIQUE NONCLUSTERED 
(
	[id_solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__creditos__621210B2729653F0]    Script Date: 28/05/2026 23:08:21 ******/
ALTER TABLE [dbo].[creditos] ADD UNIQUE NONCLUSTERED 
(
	[nro_credito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_credito_num_cuota]    Script Date: 28/05/2026 23:08:21 ******/
ALTER TABLE [dbo].[cronograma_cuotas] ADD  CONSTRAINT [uq_credito_num_cuota] UNIQUE NONCLUSTERED 
(
	[id_credito] ASC,
	[num_cuota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__cuentas___6390221029418C6D]    Script Date: 28/05/2026 23:08:21 ******/
ALTER TABLE [dbo].[cuentas_bancarias] ADD UNIQUE NONCLUSTERED 
(
	[nro_cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__cuentas___D83661E8D11514DF]    Script Date: 28/05/2026 23:08:21 ******/
ALTER TABLE [dbo].[cuentas_bancarias] ADD UNIQUE NONCLUSTERED 
(
	[cci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_detalle_cuota_pago]    Script Date: 28/05/2026 23:08:21 ******/
ALTER TABLE [dbo].[detalle_cuotas_pagos] ADD  CONSTRAINT [uq_detalle_cuota_pago] UNIQUE NONCLUSTERED 
(
	[id_cuota] ASC,
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__evaluaci__5C0C31F208027E8D]    Script Date: 28/05/2026 23:08:21 ******/
ALTER TABLE [dbo].[evaluaciones_riesgo] ADD UNIQUE NONCLUSTERED 
(
	[id_solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__medios_p__72AFBCC6167F539E]    Script Date: 28/05/2026 23:08:21 ******/
ALTER TABLE [dbo].[medios_pago] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__pagos__B9A70487A561F152]    Script Date: 28/05/2026 23:08:21 ******/
ALTER TABLE [dbo].[pagos] ADD UNIQUE NONCLUSTERED 
(
	[nro_operacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__personas__677F38F4EFDDB620]    Script Date: 28/05/2026 23:08:21 ******/
ALTER TABLE [dbo].[personas_juridicas] ADD UNIQUE NONCLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__personas__C2B74E61D58BDB05]    Script Date: 28/05/2026 23:08:21 ******/
ALTER TABLE [dbo].[personas_juridicas] ADD UNIQUE NONCLUSTERED 
(
	[ruc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__personas__677F38F4267FC6C4]    Script Date: 28/05/2026 23:08:21 ******/
ALTER TABLE [dbo].[personas_naturales] ADD UNIQUE NONCLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__personas__D87608A7ED8AE4AB]    Script Date: 28/05/2026 23:08:21 ******/
ALTER TABLE [dbo].[personas_naturales] ADD UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__producto__72AFBCC66E3A6FA8]    Script Date: 28/05/2026 23:08:21 ******/
ALTER TABLE [dbo].[productos_crediticios] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__solicitu__6E9937A8A14D53AC]    Script Date: 28/05/2026 23:08:21 ******/
ALTER TABLE [dbo].[solicitudes] ADD UNIQUE NONCLUSTERED 
(
	[nro_solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tipos_cu__72AFBCC6449A72C2]    Script Date: 28/05/2026 23:08:21 ******/
ALTER TABLE [dbo].[tipos_cuenta] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[alertas_mora] ADD  DEFAULT (CONVERT([date],getdate())) FOR [fecha_alerta]
GO
ALTER TABLE [dbo].[alertas_mora] ADD  DEFAULT ((0)) FOR [dias_atraso]
GO
ALTER TABLE [dbo].[alertas_mora] ADD  DEFAULT ('activa') FOR [estado]
GO
ALTER TABLE [dbo].[alertas_mora] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[alertas_mora] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[creditos] ADD  DEFAULT ('PEN') FOR [moneda]
GO
ALTER TABLE [dbo].[creditos] ADD  DEFAULT ((0)) FOR [desgravamen]
GO
ALTER TABLE [dbo].[creditos] ADD  DEFAULT (CONVERT([date],getdate())) FOR [fecha_aprobacion]
GO
ALTER TABLE [dbo].[creditos] ADD  DEFAULT ('desembolsado') FOR [estado]
GO
ALTER TABLE [dbo].[cronograma_cuotas] ADD  DEFAULT ((0)) FOR [intereses]
GO
ALTER TABLE [dbo].[cronograma_cuotas] ADD  DEFAULT ((0)) FOR [seguros]
GO
ALTER TABLE [dbo].[cronograma_cuotas] ADD  DEFAULT ((0)) FOR [tasa_mora]
GO
ALTER TABLE [dbo].[cronograma_cuotas] ADD  DEFAULT ((0)) FOR [dias_atraso]
GO
ALTER TABLE [dbo].[cronograma_cuotas] ADD  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[cuentas_bancarias] ADD  DEFAULT ((0)) FOR [saldo_actual]
GO
ALTER TABLE [dbo].[cuentas_bancarias] ADD  DEFAULT (CONVERT([date],getdate())) FOR [fecha_apertura]
GO
ALTER TABLE [dbo].[cuentas_bancarias] ADD  DEFAULT ('activa') FOR [estado]
GO
ALTER TABLE [dbo].[detalle_cuotas_pagos] ADD  DEFAULT ((0)) FOR [monto_pagado]
GO
ALTER TABLE [dbo].[evaluaciones_riesgo] ADD  DEFAULT ((0)) FOR [deuda_activa]
GO
ALTER TABLE [dbo].[evaluaciones_riesgo] ADD  DEFAULT ((0)) FOR [nivel_endeudamiento]
GO
ALTER TABLE [dbo].[evaluaciones_riesgo] ADD  DEFAULT ((0)) FOR [creditos_activos]
GO
ALTER TABLE [dbo].[evaluaciones_riesgo] ADD  DEFAULT (CONVERT([date],getdate())) FOR [fecha_evaluacion]
GO
ALTER TABLE [dbo].[pagos] ADD  DEFAULT (getdate()) FOR [fecha_pago]
GO
ALTER TABLE [dbo].[pagos] ADD  DEFAULT ('PEN') FOR [moneda]
GO
ALTER TABLE [dbo].[pagos] ADD  DEFAULT ('procesado') FOR [estado]
GO
ALTER TABLE [dbo].[productos_crediticios] ADD  DEFAULT ('PEN') FOR [moneda]
GO
ALTER TABLE [dbo].[productos_crediticios] ADD  DEFAULT ((0)) FOR [requiere_garantia]
GO
ALTER TABLE [dbo].[productos_crediticios] ADD  DEFAULT ('activo') FOR [estado]
GO
ALTER TABLE [dbo].[productos_crediticios] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[productos_crediticios] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[solicitudes] ADD  DEFAULT (CONVERT([date],getdate())) FOR [fecha_solicitud]
GO
ALTER TABLE [dbo].[solicitudes] ADD  DEFAULT ('PEN') FOR [moneda_solicitada]
GO
ALTER TABLE [dbo].[solicitudes] ADD  DEFAULT ('ingresado') FOR [estado]
GO
ALTER TABLE [dbo].[alertas_mora]  WITH CHECK ADD  CONSTRAINT [fk_alertas_credito] FOREIGN KEY([id_credito])
REFERENCES [dbo].[creditos] ([id])
GO
ALTER TABLE [dbo].[alertas_mora] CHECK CONSTRAINT [fk_alertas_credito]
GO
ALTER TABLE [dbo].[alertas_mora]  WITH CHECK ADD  CONSTRAINT [fk_alertas_cuota] FOREIGN KEY([id_cuota])
REFERENCES [dbo].[cronograma_cuotas] ([id])
GO
ALTER TABLE [dbo].[alertas_mora] CHECK CONSTRAINT [fk_alertas_cuota]
GO
ALTER TABLE [dbo].[creditos]  WITH CHECK ADD  CONSTRAINT [fk_creditos_cuenta] FOREIGN KEY([id_cuenta_desembolso])
REFERENCES [dbo].[cuentas_bancarias] ([id])
GO
ALTER TABLE [dbo].[creditos] CHECK CONSTRAINT [fk_creditos_cuenta]
GO
ALTER TABLE [dbo].[creditos]  WITH CHECK ADD  CONSTRAINT [fk_creditos_solicitud] FOREIGN KEY([id_solicitud])
REFERENCES [dbo].[solicitudes] ([id])
GO
ALTER TABLE [dbo].[creditos] CHECK CONSTRAINT [fk_creditos_solicitud]
GO
ALTER TABLE [dbo].[cronograma_cuotas]  WITH CHECK ADD  CONSTRAINT [fk_cuotas_credito] FOREIGN KEY([id_credito])
REFERENCES [dbo].[creditos] ([id])
GO
ALTER TABLE [dbo].[cronograma_cuotas] CHECK CONSTRAINT [fk_cuotas_credito]
GO
ALTER TABLE [dbo].[cuentas_bancarias]  WITH CHECK ADD  CONSTRAINT [fk_cuentas_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id])
GO
ALTER TABLE [dbo].[cuentas_bancarias] CHECK CONSTRAINT [fk_cuentas_cliente]
GO
ALTER TABLE [dbo].[cuentas_bancarias]  WITH CHECK ADD  CONSTRAINT [fk_cuentas_tipo] FOREIGN KEY([tipo_cuenta_id])
REFERENCES [dbo].[tipos_cuenta] ([id])
GO
ALTER TABLE [dbo].[cuentas_bancarias] CHECK CONSTRAINT [fk_cuentas_tipo]
GO
ALTER TABLE [dbo].[detalle_cuotas_pagos]  WITH CHECK ADD  CONSTRAINT [fk_detalle_cuota] FOREIGN KEY([id_cuota])
REFERENCES [dbo].[cronograma_cuotas] ([id])
GO
ALTER TABLE [dbo].[detalle_cuotas_pagos] CHECK CONSTRAINT [fk_detalle_cuota]
GO
ALTER TABLE [dbo].[detalle_cuotas_pagos]  WITH CHECK ADD  CONSTRAINT [fk_detalle_pago] FOREIGN KEY([id_pago])
REFERENCES [dbo].[pagos] ([id])
GO
ALTER TABLE [dbo].[detalle_cuotas_pagos] CHECK CONSTRAINT [fk_detalle_pago]
GO
ALTER TABLE [dbo].[evaluaciones_riesgo]  WITH CHECK ADD  CONSTRAINT [fk_evaluaciones_solicitud] FOREIGN KEY([id_solicitud])
REFERENCES [dbo].[solicitudes] ([id])
GO
ALTER TABLE [dbo].[evaluaciones_riesgo] CHECK CONSTRAINT [fk_evaluaciones_solicitud]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [fk_pagos_medio] FOREIGN KEY([id_medio_pago])
REFERENCES [dbo].[medios_pago] ([id])
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [fk_pagos_medio]
GO
ALTER TABLE [dbo].[personas_juridicas]  WITH CHECK ADD  CONSTRAINT [fk_pj_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id])
GO
ALTER TABLE [dbo].[personas_juridicas] CHECK CONSTRAINT [fk_pj_cliente]
GO
ALTER TABLE [dbo].[personas_naturales]  WITH CHECK ADD  CONSTRAINT [fk_pn_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id])
GO
ALTER TABLE [dbo].[personas_naturales] CHECK CONSTRAINT [fk_pn_cliente]
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD  CONSTRAINT [fk_solicitudes_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id])
GO
ALTER TABLE [dbo].[solicitudes] CHECK CONSTRAINT [fk_solicitudes_cliente]
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD  CONSTRAINT [fk_solicitudes_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[productos_crediticios] ([id])
GO
ALTER TABLE [dbo].[solicitudes] CHECK CONSTRAINT [fk_solicitudes_producto]
GO
ALTER TABLE [dbo].[alertas_mora]  WITH CHECK ADD CHECK  (([dias_atraso]>=(0)))
GO
ALTER TABLE [dbo].[alertas_mora]  WITH CHECK ADD CHECK  (([estado]='cerrada' OR [estado]='gestionada' OR [estado]='activa'))
GO
ALTER TABLE [dbo].[alertas_mora]  WITH CHECK ADD CHECK  (([nivel_severidad]='critica' OR [nivel_severidad]='alta' OR [nivel_severidad]='media' OR [nivel_severidad]='baja'))
GO
ALTER TABLE [dbo].[alertas_mora]  WITH CHECK ADD CHECK  (([tipo_alerta]='multiples_cuotas' OR [tipo_alerta]='alto_riesgo' OR [tipo_alerta]='credito_vencido' OR [tipo_alerta]='mora_90d' OR [tipo_alerta]='mora_60d' OR [tipo_alerta]='mora_30d' OR [tipo_alerta]='cuota_vencida'))
GO
ALTER TABLE [dbo].[alertas_mora]  WITH CHECK ADD CHECK  ((NOT ([tipo_alerta]='mora_90d' OR [tipo_alerta]='mora_60d' OR [tipo_alerta]='mora_30d' OR [tipo_alerta]='cuota_vencida') OR [id_cuota] IS NOT NULL))
GO
ALTER TABLE [dbo].[alertas_mora]  WITH CHECK ADD CHECK  (([fecha_cierre] IS NULL OR [fecha_cierre]>=[fecha_alerta]))
GO
ALTER TABLE [dbo].[alertas_mora]  WITH CHECK ADD CHECK  (([estado]<>'cerrada' OR [fecha_cierre] IS NOT NULL))
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD CHECK  (([estado_cliente]='baja' OR [estado_cliente]='bloqueado' OR [estado_cliente]='inactivo' OR [estado_cliente]='activo'))
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD CHECK  (([tipo_cliente]='J' OR [tipo_cliente]='N'))
GO
ALTER TABLE [dbo].[creditos]  WITH CHECK ADD  CONSTRAINT [chk_creditos_desgravamen] CHECK  (([desgravamen]>=(0)))
GO
ALTER TABLE [dbo].[creditos] CHECK CONSTRAINT [chk_creditos_desgravamen]
GO
ALTER TABLE [dbo].[creditos]  WITH CHECK ADD  CONSTRAINT [chk_creditos_fechas] CHECK  (([fecha_vencimiento]>[fecha_inicio]))
GO
ALTER TABLE [dbo].[creditos] CHECK CONSTRAINT [chk_creditos_fechas]
GO
ALTER TABLE [dbo].[creditos]  WITH CHECK ADD  CONSTRAINT [chk_creditos_monto] CHECK  (([monto_aprobado]>(0)))
GO
ALTER TABLE [dbo].[creditos] CHECK CONSTRAINT [chk_creditos_monto]
GO
ALTER TABLE [dbo].[creditos]  WITH CHECK ADD  CONSTRAINT [chk_creditos_plazo] CHECK  (([plazo_meses]>(0)))
GO
ALTER TABLE [dbo].[creditos] CHECK CONSTRAINT [chk_creditos_plazo]
GO
ALTER TABLE [dbo].[creditos]  WITH CHECK ADD  CONSTRAINT [chk_creditos_valor_cuota] CHECK  (([valor_cuota]>(0)))
GO
ALTER TABLE [dbo].[creditos] CHECK CONSTRAINT [chk_creditos_valor_cuota]
GO
ALTER TABLE [dbo].[creditos]  WITH CHECK ADD CHECK  (([tea]>(0) AND [tcea]>=[tea]))
GO
ALTER TABLE [dbo].[creditos]  WITH CHECK ADD CHECK  (([estado]='castigado' OR [estado]='judicial' OR [estado]='refinanciado' OR [estado]='cancelado' OR [estado]='vigente' OR [estado]='desembolsado'))
GO
ALTER TABLE [dbo].[creditos]  WITH CHECK ADD CHECK  (([moneda]='EUR' OR [moneda]='USD' OR [moneda]='PEN'))
GO
ALTER TABLE [dbo].[cronograma_cuotas]  WITH CHECK ADD  CONSTRAINT [chk_cuotas_monto] CHECK  (([capital]>(0) AND [intereses]>=(0) AND [seguros]>=(0)))
GO
ALTER TABLE [dbo].[cronograma_cuotas] CHECK CONSTRAINT [chk_cuotas_monto]
GO
ALTER TABLE [dbo].[cronograma_cuotas]  WITH CHECK ADD  CONSTRAINT [chk_num_cuota] CHECK  (([num_cuota]>(0)))
GO
ALTER TABLE [dbo].[cronograma_cuotas] CHECK CONSTRAINT [chk_num_cuota]
GO
ALTER TABLE [dbo].[cronograma_cuotas]  WITH CHECK ADD  CONSTRAINT [chk_saldo_cuota] CHECK  (([saldo_pendiente]<=[total_cuota]))
GO
ALTER TABLE [dbo].[cronograma_cuotas] CHECK CONSTRAINT [chk_saldo_cuota]
GO
ALTER TABLE [dbo].[cronograma_cuotas]  WITH CHECK ADD  CONSTRAINT [chk_tasa_mora] CHECK  (([tasa_mora]>=(0)))
GO
ALTER TABLE [dbo].[cronograma_cuotas] CHECK CONSTRAINT [chk_tasa_mora]
GO
ALTER TABLE [dbo].[cronograma_cuotas]  WITH CHECK ADD  CONSTRAINT [chk_total_cuota] CHECK  (([total_cuota]=(([capital]+[intereses])+[seguros])))
GO
ALTER TABLE [dbo].[cronograma_cuotas] CHECK CONSTRAINT [chk_total_cuota]
GO
ALTER TABLE [dbo].[cronograma_cuotas]  WITH CHECK ADD CHECK  (([dias_atraso]>=(0)))
GO
ALTER TABLE [dbo].[cronograma_cuotas]  WITH CHECK ADD CHECK  (([estado]='condonada' OR [estado]='refinanciada' OR [estado]='vencida' OR [estado]='pagada parcialmente' OR [estado]='pagada' OR [estado]='pendiente'))
GO
ALTER TABLE [dbo].[cuentas_bancarias]  WITH CHECK ADD CHECK  (([estado]='embargada' OR [estado]='cerrada' OR [estado]='bloqueada' OR [estado]='activa'))
GO
ALTER TABLE [dbo].[cuentas_bancarias]  WITH CHECK ADD CHECK  (([moneda]='EUR' OR [moneda]='USD' OR [moneda]='PEN'))
GO
ALTER TABLE [dbo].[cuentas_bancarias]  WITH CHECK ADD CHECK  (([saldo_actual]>=(0)))
GO
ALTER TABLE [dbo].[cuentas_bancarias]  WITH CHECK ADD CHECK  (([fecha_vencimiento] IS NULL OR [fecha_vencimiento]>[fecha_apertura]))
GO
ALTER TABLE [dbo].[detalle_cuotas_pagos]  WITH CHECK ADD  CONSTRAINT [chk_detalle_monto] CHECK  (([monto_pagado]>(0)))
GO
ALTER TABLE [dbo].[detalle_cuotas_pagos] CHECK CONSTRAINT [chk_detalle_monto]
GO
ALTER TABLE [dbo].[evaluaciones_riesgo]  WITH CHECK ADD CHECK  (([creditos_activos]>=(0)))
GO
ALTER TABLE [dbo].[evaluaciones_riesgo]  WITH CHECK ADD CHECK  (([deuda_activa]>=(0)))
GO
ALTER TABLE [dbo].[evaluaciones_riesgo]  WITH CHECK ADD CHECK  (([historial_crediticio]='perdida' OR [historial_crediticio]='dudoso' OR [historial_crediticio]='deficiente' OR [historial_crediticio]='cpp' OR [historial_crediticio]='normal'))
GO
ALTER TABLE [dbo].[evaluaciones_riesgo]  WITH CHECK ADD CHECK  (([ingresos_verificados]>(0)))
GO
ALTER TABLE [dbo].[evaluaciones_riesgo]  WITH CHECK ADD CHECK  (([nivel_riesgo]='alto' OR [nivel_riesgo]='medio' OR [nivel_riesgo]='bajo'))
GO
ALTER TABLE [dbo].[evaluaciones_riesgo]  WITH CHECK ADD CHECK  (([nivel_endeudamiento]>=(0) AND [nivel_endeudamiento]<=(100)))
GO
ALTER TABLE [dbo].[evaluaciones_riesgo]  WITH CHECK ADD CHECK  (([score_crediticio]>=(0) AND [score_crediticio]<=(999)))
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [chk_pagos_monto] CHECK  (([monto]>(0)))
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [chk_pagos_monto]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD CHECK  (([estado]='pendiente' OR [estado]='reversado' OR [estado]='anulado' OR [estado]='procesado'))
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD CHECK  (([moneda]='EUR' OR [moneda]='USD' OR [moneda]='PEN'))
GO
ALTER TABLE [dbo].[personas_juridicas]  WITH CHECK ADD CHECK  (([estado_empresa]='en liquidacion' OR [estado_empresa]='suspendido' OR [estado_empresa]='inactivo' OR [estado_empresa]='activo'))
GO
ALTER TABLE [dbo].[personas_juridicas]  WITH CHECK ADD CHECK  (([ingresos_anuales]>(0)))
GO
ALTER TABLE [dbo].[personas_juridicas]  WITH CHECK ADD CHECK  (([tipo_empresa]='SAA' OR [tipo_empresa]='EIRL' OR [tipo_empresa]='SRL' OR [tipo_empresa]='SAC' OR [tipo_empresa]='SA'))
GO
ALTER TABLE [dbo].[personas_juridicas]  WITH CHECK ADD CHECK  (([inicio_actividades]>=[fecha_constitucion]))
GO
ALTER TABLE [dbo].[personas_naturales]  WITH CHECK ADD CHECK  (([estado_civil]='U' OR [estado_civil]='V' OR [estado_civil]='D' OR [estado_civil]='C' OR [estado_civil]='S'))
GO
ALTER TABLE [dbo].[personas_naturales]  WITH CHECK ADD CHECK  (([genero]='F' OR [genero]='M'))
GO
ALTER TABLE [dbo].[personas_naturales]  WITH CHECK ADD CHECK  (([ingresos_mensuales]>(0)))
GO
ALTER TABLE [dbo].[personas_naturales]  WITH CHECK ADD CHECK  (([situacion_laboral]='jubilado' OR [situacion_laboral]='desempleado' OR [situacion_laboral]='independiente' OR [situacion_laboral]='empleado'))
GO
ALTER TABLE [dbo].[productos_crediticios]  WITH CHECK ADD CHECK  (([tipo]='consumo' OR [tipo]='negocio' OR [tipo]='hipotecario' OR [tipo]='vehicular' OR [tipo]='personal'))
GO
ALTER TABLE [dbo].[productos_crediticios]  WITH CHECK ADD CHECK  (([estado]='implementandose' OR [estado]='inactivo' OR [estado]='activo'))
GO
ALTER TABLE [dbo].[productos_crediticios]  WITH CHECK ADD CHECK  (([tasa_interes_min]>(0) AND [tasa_interes_max]>=[tasa_interes_min]))
GO
ALTER TABLE [dbo].[productos_crediticios]  WITH CHECK ADD CHECK  (([monto_min]>(0) AND [monto_max]>=[monto_min]))
GO
ALTER TABLE [dbo].[productos_crediticios]  WITH CHECK ADD CHECK  (([plazo_minimo_meses]>(0) AND [plazo_maximo_meses]>=[plazo_minimo_meses]))
GO
ALTER TABLE [dbo].[productos_crediticios]  WITH CHECK ADD CHECK  (([deleted_at] IS NULL OR [estado]='inactivo'))
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD  CONSTRAINT [chk_monto_solicitado] CHECK  (([monto_solicitado]>(0)))
GO
ALTER TABLE [dbo].[solicitudes] CHECK CONSTRAINT [chk_monto_solicitado]
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD  CONSTRAINT [chk_plazo_solicitado] CHECK  (([plazo_solicitado_meses]>(0)))
GO
ALTER TABLE [dbo].[solicitudes] CHECK CONSTRAINT [chk_plazo_solicitado]
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD CHECK  (([estado]='desistida' OR [estado]='desestimado' OR [estado]='aprobada' OR [estado]='en evaluacion' OR [estado]='ingresado'))
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD CHECK  (([moneda_solicitada]='EUR' OR [moneda_solicitada]='USD' OR [moneda_solicitada]='PEN'))
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD CHECK  (([estado]<>'desestimado' OR [motivo_rechazo] IS NOT NULL))
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD CHECK  ((NOT ([estado]='desestimado' OR [estado]='aprobada') OR [fecha_resolucion] IS NOT NULL))
GO
USE [master]
GO
